<div class="admin-page">
  <div class="admin-card">
    <div class="top-bar">
      <a routerLink="/admin/equipos" class="btn-secondary">← Equipos</a>
    </div>

    <div class="header-block">
      <h1>{{ isEditMode ? 'Editar equipo' : 'Nuevo equipo' }}</h1>
      <p class="subtitle">Completa la información del país o equipo clasificado.</p>
    </div>

    <div *ngIf="errorMessage" class="message error-box">
      {{ errorMessage }}
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="nombre" class="admin-input" />
      </div>

      <div class="form-group">
        <label>Código FIFA</label>
        <input type="text" formControlName="codigoFifa" class="admin-input" />
      </div>

      <div class="form-group">
        <label>Bandera URL</label>
        <input type="text" formControlName="banderaUrl" class="admin-input" />
      </div>

      <div class="form-group">
        <label>Entrenador</label>
        <input type="text" formControlName="entrenador" class="admin-input" />
      </div>

      <div class="form-group">
        <label>Capitán</label>
        <input type="text" formControlName="capitan" class="admin-input" />
      </div>

      <div class="actions">
        <button type="submit" class="btn-primary" [disabled]="isLoading">
          {{ isLoading ? 'Guardando...' : (isEditMode ? 'Actualizar' : 'Crear equipo') }}
        </button>

        <a routerLink="/admin/equipos" class="btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>