<tr *ngFor="let torneo of torneos">
  <td>{{ torneo.id }}</td>
  <td>{{ torneo.nombre }}</td>
  <td>{{ torneo['año'] }}</td>
  <td>{{ torneo.paisSede }}</td>
  <td>{{ getFecha(torneo.fechaInicio) }}</td>
  <td>{{ getFecha(torneo.fechaFin) }}</td>
  <td>
    <div class="action-buttons">
      <button type="button" class="btn-secondary" (click)="editTorneo(torneo.id)">
        Editar
      </button>

      <button type="button" class="btn-secondary" (click)="configTorneo(torneo.id)">
        Configurar
      </button>

      <button
        type="button"
        class="btn-danger"
        (click)="deleteTorneo(torneo.id)"
        [disabled]="deleteLoadingId === torneo.id"
      >
        {{ deleteLoadingId === torneo.id ? 'Eliminando...' : 'Eliminar' }}
      </button>
    </div>
  </td>
</tr>